<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<form th:action="@{/bookdata}" th:object="${book}" method="post">

<table>
<tr>
<td>Book Name</td>
<td><input  type="text" th:field="*{bookName}"/></td>
</tr>
<tr>
<td>Author Name</td>
<td><input  type="text" th:field="*{authorName}"/></td>
</tr>
<tr>
<td>Book Price</td>
<td><input  type="text" th:field="*{bookPrice}"/></td>
</tr>
<tr>
<td><input type="submit" value="Submit" /></td>
</tr>
</table>

</form>

</body>
</html>